@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

pre {
    line-height: 2.0rem;
}

.container {
    max-width: 80rem;
}

table {
    margin: auto;
}

table td, table th {
    border: 2px solid #888;
    border-left: 2px solid #f0f0f0;
    border-right: 2px solid #f0f0f0;
}

thead {
    background-color: #f0f0f0;
}

th, td {
    padding: 0.1rem 1rem;
}

td:empty::after{
  content: "\00a0";
}

td {
    vertical-align: top;
}

strong > code, h1> code, h2 > code, h3 > code, h4 > code, h5 > code , h6 > code, a > code, td > code, p > code, li > code {
    padding: 2px 5px;
    background-color: #ffffff;
    border: 1px dashed #ccc;
    border-radius: 5px;
}

h4 {
    font-size: 1.8rem;
}

a, a > code {
    color: #1565c0;
	text-decoration: underline;
	text-decoration-color: #dcdcdc;
}

.centered .about h2 {
    width: 100vw;
    color: white;
    background-color: #222;
    padding: 3px 0px;
    font-size: 2.0rem;
}

.highlight > * {
    /*
    border-top: 2px solid #;
    border-bottom: 2px solid #888;
    border-radius: 0;
    */
      border-width: 2px;
      border-style: solid;
      border-image:
        linear-gradient(
          to bottom,
          #ddd,
          rgba(70, 70, 70, 0.5)
        ) 4 100%;
}

code {
    font-size: 0.9em;
    font-family: "Ubuntu Mono", monospace;
}

p > code {
    white-space: nowrap;
}

.avatar img {
    border: 1px solid rgba(100, 100, 100, 1);
}

img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
}

img[src$='#floatleft'] {
    float: left;
}

img[src$='#floatright'] {
    float: right;
}

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

summary {
    background-color: #e0e0e0;
    cursor: pointer;
}

details .details-div {
    background-color: #f8f8f8;
    padding: 0px 15px; 
    border: 1px dashed #ccc;
}
